.profiler-header {
    width: '100%';
    display: 'flex';
    flex-direction: 'column';
    box-sizing: 'border-box';
    padding:'4px';
    margin-bottom: 4px;
}
.profiler-toolbar {
    width: '100%';
    display: 'flex';
    flex-direction: 'row';
    box-sizing: 'border-box';
}
.profiler-body {
    display: 'flex';
    flex-direction: 'column';
    width: '100%';
    height: '100%';
    box-sizing: 'border-box';
    overflow-y: auto;
}
.profiler-grid-row {
    display: grid;
    box-sizing: border-box;
    height: 23px;
    margin: 2px 8px 2px 0px; /* <top>, <right>, <bottom>, <left>  */
    gap:4px;

    grid-template-columns:
        32px    /* active */
        64px    /* start address */
        64px    /* end address */
        96px    /* min result */
        96px    /* max result */
        1fr    /* label */
        23px    /* reset button */
        23px;    /* remove button */

}
.profiler-reset-item-btn {
    font-size: 20px;
    width: 23px;
    height: 23px;
    padding: 0px;
    margin: 0px;
    
}
.profiler-reset-item-btn::before {
    content: '⟳';
}

.profiler-reset-col-btn {
    font-size: 16px;
    width: 18px;
    height: 18px;
    padding: 0px;
    margin: 0px;
    
}
.profiler-reset-col-btn::before {
    content: '⟳';
}

.profiler-remove-item-btn {
    font-size: 18px;
    width: 23px;
    height: 23px;
    padding: 0px;
    margin: 0px;
    background-color: brown;
}
.profiler-remove-item-btn::before {
    content: '✖';
}

.profiler-measured-value {
    border: 1px solid #575757
}
.profiler-item-label {
    min-width: none;
}